html, body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader-box {
    width: 400px;
    height: 250px;
    background-color: green;
}
